@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        @* <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form> *@

        <div class="form-floating mb-3">
            <input value="@Model.CurrentUser.Email" class="form-control" disabled />
            <label asp-for="CurrentUser.Email" class="form-label"></label>
        </div>

        <div class="form-floating mb-3">
            <input value="@Model.CurrentUser.FirstName" class="form-control" disabled />
            <label asp-for="CurrentUser.FirstName" class="form-label"></label>
        </div>

        <div class="form-floating mb-3">
            <input value="@Model.CurrentUser.LastName" class="form-control" disabled />
            <label asp-for="CurrentUser.LastName" class="form-label"></label>
        </div>

        <div class="form-floating mb-3">
            <input value="@Model.CurrentUser.PhoneNumber" class="form-control" disabled />
            <label asp-for="CurrentUser.PhoneNumber" class="form-label"></label>
        </div>

        <div class="form-floating mb-3">
            <input value="@Model.CurrentUser.Address" class="form-control" disabled />
            <label asp-for="CurrentUser.Address" class="form-label"></label>
        </div>

        <div class="form-floating mb-3">
            <input value="@Model.CurrentUser.Notes" class="form-control" disabled />
            <label asp-for="CurrentUser.Notes" class="form-label"></label>
        </div>

        <div class="form-floating mb-3">
            <input value="@Model.CurrentUser.BirthDate?.ToString("yyyy-MM-dd")" class="form-control" disabled />
            <label asp-for="CurrentUser.BirthDate" class="form-label"></label>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
